@import url(base.css);
.main{
	width: 100%;
	height: 4.7rem;
	overflow: hidden;
	background: url('../img/screen.png') no-repeat,url('../img/screen2.png') no-repeat,url('../img/hushui.png') no-repeat no-repeat, -webkit-linear-gradient(-90deg,#50ade8,#7ae0fa);
	background-position: bottom;
    background-size: 100% auto;
}
.back{
	position: absolute;
    top: 0.15rem;
    left: 0.08rem;
    display: block;
    width: 0.22rem;
    height: 0.22rem;
    text-align: center;
    line-height: 0.22rem;
}
.icon-fanhui{
	display: block;
	color: #fff;
	font-weight: bold;
}
.icon-dizhi{
	color: #fff;
}
.location{
	height: 0.16rem;
    line-height: 0.16rem;
    width: 75%;
    margin: 0.18rem 12% 0.06rem;
    font-size: 0.16rem;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
.voice{
	display: block;
    height: 0.22rem;
    width: 0.22em;
    position: absolute;
    top: 0.15rem;
    right: 0.38rem;
    line-height: 0.22rem;
}
.icon-yinliang{
	display: block;
	color: #fff;
}
.fenxiang{
	display: block;
    height: 0.22rem;
    width: 0.22em;
    position: absolute;
    top: 0.15rem;
    right: 0.08rem;
    line-height: 0.22rem;
}
.icon-fenxiang{
	display: block;
	color: #fff;
}
.pollute{
	height: 0.44rem;
    padding: 0.08rem 0.12rem;
    position: absolute;
    border-radius: 0.08rem;
    top: 0.67rem;
    left: 0.08rem;
    background: #f1ab62;
    z-index: 2;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
}
.til{
	font-size: 0.12rem;
    color: #fff;
    line-height: 0.12rem;
    height: 0.12rem;
}
.value{
	margin-top: 0.03rem;
    font-size: 0.12rem;
    color: #fff;
    height: 0.14rem;
    line-height: 0.14rem;
}
.now_temperature{
	font-size: 0.62rem;
    color: #fff;
    line-height: 0.62rem;
    height: 0.62rem;
    margin-top: 0.85rem;
    text-align: center;
    padding-left: 0.24rem;
}
.now_weather{
	font-size: 0.22rem;
    color: #fff;
    line-height: 0.22rem;
    height: 0.22rem;
    margin-top: 0.08rem;
    text-align: center;
}
.now_wind{
	width: 100%;
	height: 0.14rem;
    line-height: 0.14rem;
    font-size: 0.14rem;
    color: #fff;
	margin-top: 0.1rem;
    height: 0.14rem;
    text-align: center;
}
.tips{
	font-size: 0.16rem;
    color: #fff;
    line-height: 1.5;
    height: 0.16rem;
    margin: 0.5rem 0.6rem 0;
    text-align: center;
}
.today{
	background: #fff;
    height: 1.03rem;
    padding-top: 0.26rem;
    border-bottom: 0.01rem solid #e4e4e4;
    margin-bottom: 0.1rem;
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.item{
	float: left;
    width: 50%;
    height: 0.52rem;
    font-size: 0.14rem;
    color: #434343;
    line-height: 0.14rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    border-right: 0.02rem solid #f0f0f0;
}
.item_top{
	width: 100%;
	height: 0.12rem;
    margin-bottom: 0.13rem;
}
.item_bottom{
	height: 0.22rem;
}
.item_day{
	float: left;
}
.item_temperature{
	float: right;
}
.item_weather{
	float: left;
    height: 0.22rem;
    line-height: 0.22rem;
}
.item_bottom img{
	float: right;
    height: 0.24rem;
    width: 0.24rem;
}
.hours{
	width: 100%;
	height: 1.36rem;
    border-bottom: 0.01rem solid #e4e4e4;
    background-color: #fff;
    overflow-x: auto;
    margin-bottom: 0.1rem;
    padding-top: 0.3rem;
    box-sizing: border-box;
}
section::-webkit-scrollbar{
	height: 0;	
}
.hoursbox{
	display: flex;
	justify-content: space-between;
}
.hoursbox li{
	float: left;
    text-align: center;
    height: 100%;
    width: 0.5rem;
    flex-shrink: 0;
}
.hours_time{
	font-size: 0.12rem;
    line-height: 0.12rem;
    height: 0.12rem;
    color: #999;
}
.hoursbox li img{
	display: block;
	height: 0.24rem;
    width: 0.24rem;
    margin: 0.15rem auto;
}
.hours_temperature{
	font-size: 0.14rem;
    color: #434343;
    line-height: 0.14rem;
    height: 0.14rem;
    position: relative;
}
.hours_temperature:after{
	content: "°";
    position: absolute;
    top: 0;
}
.days{
	border-top: 0.01rem solid #e4e4e4;
    border-bottom: 0.01rem solid #e4e4e4;
    background-color: #fff;
    height: 3rem;
    padding-top: 0.25rem;
    margin-bottom: 0.1rem;
    overflow-x: auto;
	box-sizing: border-box;
}
.daysbox{
	width: 4.27rem;
	display: flex;
	justify-content: space-between;
}
.daysbox li{
	width: 0.53rem;
	float: left;
    text-align: center;
    height: 100%;
    flex-shrink: 0;
}
.days_day{
	color: #b2b2b2;
	line-height: 0.12rem;
    height: 0.12rem;
    font-size: 0.12rem;
}
.days_date{
	color: #b2b2b2;
	margin: 0.15rem 0 0.15rem;
	line-height: 0.12rem;
    height: 0.12rem;
    font-size: 0.12rem;
}
.days_weather{
	color: #b2b2b2;
	margin: 0.2rem 0;
	font-size: 0.1rem;
    line-height: 0.14rem;
    height: 0.14rem;
}
.daytime img{
	width: 0.2rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
}
.night{
	margin-top: 0.36rem;
}
.night img{
	width: 0.2rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
}
.days_wind{
	color: #b2b2b2;
	font-size: 0.12rem;
	line-height: 0.12rem;
    height: 0.12rem;
    width: 0.4rem;
    margin: 0.06rem auto 0.06rem;
    overflow: hidden;
}
.days_windstrong{
	color: #b2b2b2;
	font-size: 0.12rem;
	line-height: 0.12rem;
    height: 0.12rem;
    width: 0.4rem;
    margin: 0.15rem 0.06rem;
    overflow: hidden;
}
.live{
	width: 100%;
	background: #fff;
	overflow-x: auto;
}
.livebox{
	width: 6.4rem;
	height: 1.88rem;
	display: flex;
	justify-content: space-between;
	border: 1px solid #e4e4e4;
	box-sizing: border-box;
	flex-wrap: wrap;
}
.livebox li{
    text-align: center;
    width: 12.5%;
    height: 0.94rem;
    float: left;
    border-right: 0.01rem solid #e6e6e6;
    border-bottom: 0.01rem solid #e6e6e6;
    box-sizing: border-box;
    flex-shrink: 0;
}
.live_icon{
	display: block;
	height: 0.24rem;
    width: 0.24rem;
    margin: 0.15rem auto 0.1rem;
    background-size: 0.24rem;
}
.live_meseage{
	font-size: 0.14rem;
    color: #434343;
    line-height: 0.14rem;
    height: 0.14rem;
    margin-bottom: 0.06rem;
    text-align: center;
}
.live_title{
	font-size: 0.14rem;
	color: #999;
    height: 0.12rem;
    line-height: 0.12rem;
    text-align: center;
}
footer{
	font-size: 0.12rem;
    padding: 0.15rem 0;
    text-align: center;
    color: #b2b2b2;
    box-sizing: border-box;
}
.footer_top{
	height: 0.26rem;
    line-height: 0.26rem;
    display: inline-block;
    font-size: 0.12rem;
    text-align: center;
    color: #b2b2b2;
}
.from{
	margin-right: 28px;
	color: #b2b2b2;
}
.feedback{
	color: #b2b2b2;
}
.jubao{
	color: #b2b2b2;
}
.feedback:after{
	content: "";
    background: #d5d5d5;
    width: 0.01rem;
    height: 0.2rem;
    display: inline-block;
    vertical-align: -0.07rem;
    color: #d5d5d5;
    margin: 0 0.12rem;
}
.copyright{
	height: 0.26rem;
    line-height: 0.26rem;
    font-size: 0.12rem;
    text-align: center;
    color: #b2b2b2;
}